* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;

  padding: 16px;
  gap: 32px;

  background-color: #e9e9e9;

  font-family: 'Roboto', sans-serif;

  @media screen and (min-device-width : 300px) and (max-device-width : 500px) {
    flex-direction: column;
    align-items: center;
  }
}

#left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  gap: 32px;
}

#calendar-container {
  width: 100%;
}

#form-button:hover {
  cursor: pointer;
  background-color: #0B4575;
}

.right-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 16px;
}

.appointments-container {
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  width: 100%;
  max-height: 80vh;
  padding-right: 8px;

  gap: 16px;
}

.appointments-container::-webkit-scrollbar {
  background: #DDDDDD;
  border-radius: 100px;
}

.appointments-container::-webkit-scrollbar-thumb {
  background: #ADADAD;
  border-radius: 100px;
}