#card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  gap: 16px;

  background-color: white;
  color: #0B4575;
}

#card-container:hover {
  background-color: #d4ebff93;
}

#card-container-green {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  gap: 16px;

  background-color: #1c9a35;
  color: white;
}

#card-container-green:hover {
  background-color: #16862c;
}

#card-container-red {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  gap: 16px;

  background-color: #c23d3d;
  color: white;

  div {
    text-decoration: line-through;
  }
}

#card-container-red:hover {
  background-color: #be2b2b;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  
  padding: 16px 0 16px 16px;
  gap: 8px;

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}

.date-time-span {
  display: flex;
  gap: 32px;
}

.approve-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: green;
  border: 1px solid green;
  border-radius: 4px;

  padding: 8px 16px;

  font-size: 18px;
  color: white;
}

.approve-button:hover {
  cursor: pointer;

  background-color: rgb(0, 98, 0);
  color: white;
}

.buttons-container {
  display: flex;
  width: 200px;
  gap: 8px;

  @media screen and (min-device-width : 300px) and (max-device-width : 500px) {
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 16px;
  }
}

.cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border: 1px solid red;
  border-radius: 4px;

  padding: 8px;

  font-size: 18px;
  color: red;
}

.cancel-button:hover {
  cursor: pointer;

  background-color: red;
  color: white;
}

.edit-delete-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: white;

  width: 50px;
  height: 100%;

  padding: 8px;
  gap: 8px;

  @media screen and (min-device-width : 300px) and (max-device-width : 500px) {
    min-height: 120px;
  }
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border: none;
  
  height: 24px;

  font-size: 24px;
  color: #0B4575;
}

.edit-button:hover {
  cursor: pointer;

  color: #0B4575;
  transform: scale(1.2);
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border: none;
  
  height: 24px;

  font-size: 24px;
  color: red;
}

.delete-button:hover {
  cursor: pointer;

  color: red;
  transform: scale(1.2);
}