#form-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 8px;
  gap: 8px;

  h1 {
    color: #0B4575;
    margin-bottom: 8px;
  }

  label {
    font-size: 16px;
    text-transform: uppercase;
  }
}

.form-input {
  width: 100%;
  height: 40px;

  padding: 0 16px;

  border: 1px solid #0B4575;
  border-radius: 4px;
}

.form-time-input {
  width: 40%;
  height: 40px;

  padding: 0 16px;

  border: 1px solid #0B4575;
  border-radius: 4px;
}

#form-button {
  padding: 8px;
  background-color: #337ab7;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
}